<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
><!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>문의사항 게시판</title>
</head>
	<div layout:fragment="content" class="container">
		<div align="center">
			
			<form action="#" th:action="@{/registerQuestion}" id="registerQuestion" method="post">
				<div align="center" style="font-size: 150">Q&A 남기기 </div>
				<p align="left"> <input type="text" name="questionTitle" placeholder="글제목" required="required"></p>
				<p><textarea cols="150" rows="10" name="questionContent" placeholder="글내용" required="required"></textarea></p>
				<button type="reset">취소</button>
				<input type="hidden" th:value="${productNo}" name="productNo">
				<button type="button" id="Writebtn">등록</button>
			</form>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
			$("#Writebtn").click(function() {
				let result = confirm("등록 하시겠습니까?");
				if(result!=true){
					return;
				}
				$("#registerQuestion").submit();
			})
		});
	</script>
	</div>
</html>