<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>문의사항 게시판</title>
</head>
	<div layout:fragment="content" class="container">
		<div align="center">
		<table class="table table-boardered">
			<thead>
			<tr>
				<th>Q&A글번호</th>
				<th>Q&A글제목</th>
				<th>작성자아이디</th>
				<th>작성일</th>
			</tr>
			</thead>
			<tbody>
				<tr>
						<td th:text="${questionVO.questionNo}" class = "col-sm-2"></td>
						<td class= "col-sm-3"><a th:text="${questionVO.questionTitle}"></a></td>
						<td th:text="${questionVO.memberVO.id}" class = "col-sm-2"></td>
						<td th:text="${questionVO.questionTime}" class = "col-sm-2"></td>
				</tr>
				<tr>
						<td th:text="${questionVO.questionContent}" readonly="readonly"></td>
				</tr>
			</tbody>
		</table>
		 <div align="center">
		<table class="table table-boardered">
			<thead>
			<tr>
				<th>답변 글번호</th>
				<th>답변 내용</th>
				<th>답변 시간</th>
			</tr>
			</thead>
			<tbody>
				<th:block th:if="${answerVO != null}">
					<tr>
							<td th:text="${answerVO.questionNo}" class = "col-sm-2"></td>
							<td th:text="${answerVO.answerContent}"></td>
							<td th:text="${answerVO.answerTime}" class = "col-sm-2"></td>
					</tr>
				</th:block>
			</tbody>
				<th:block th:if="${answerVO == null}">
						<form action="" th:action="@{/registerAnswer}" id="writeForm" method="post">
							<p><textarea cols="50" rows="10" name="answerContent" sec:authorize="hasRole('ROLE_ADMIN')"></textarea></p>
							<input type="hidden" th:value="${questionVO.questionNo}" name="questionNo">
								<button type="reset" sec:authorize="hasRole('ROLE_ADMIN')">취소(관리자)</button>
								<button type="submit" id="registerBtn" sec:authorize="hasRole('ROLE_ADMIN')">등록(관리자)</button>
						</form>
				</th:block>
		</table>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#registerBtn").click(function(){
					let result = confirm("등록하시겠습니까?");
					if(result == true) {
						$("#registerBtn")
					}
				})
			})		
		</script>		
	</div>
	</div>
</html>


