<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
><!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>문의사항 게시판</title>
</head>
	<div layout:fragment="content" class="container">
		<h2>Q&A 작성</h2>
		<form action="" th:action="@{/registerQuestion}" id="registerQuestion" method="post">
			<input type="hidden" th:value="${productNo}" name="productNo">
			<input type="text" name="questionTitle" placeholder="글제목" style="width: 35%"><br><br>
			<textarea cols="150" rows="10" name="questionContent" placeholder="글내용" required="required"></textarea><br>
			<div align="center">
				<button type="reset" class="btn btn-outline-danger" style="width: 100px">취소</button>&nbsp;&nbsp;
				<button type="button" id="Writebtn" class="btn btn-outline-success" style="width: 100px">등록</button>
			</div>
		</form>

		<script type="text/javascript">
			$(document).ready(function() {
				$("#Writebtn").click(function() {
					if($("#registerQuestion :input[name=questionTitle]").val().trim()==""||$("#registerQuestion :input[name=questionContent]").val().trim()==""){
						alert("문의사항 제목 또는 내용을 입력해주세요");
						return;
					}
					
					let result = confirm("등록 하시겠습니까?");
					if(result!=true){
						return;
					}
					
					$("#registerQuestion").submit();
				})
			});
		</script>
	
	</div>
</html>