<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.juicetaproject.model.mapper.BoardMapper">
<sql id="boardSelect">
	select row_number() over(ORDER BY board_no asc) as rnum, board_no, board_title, board_content, board_time, hits from juiceta_board
</sql>
<select id="getTotalBoardCount" resultType="int">
select count(*) from juiceta_board
</select>
<select id="findBoardAllList" resultType="org.kosta.juicetaproject.model.vo.BoardVO" parameterType="org.kosta.juicetaproject.model.vo.BoardPagination">
	SELECT rnum,board_no,board_title,board_content,board_time, hits
		FROM(
			SELECT ROW_NUMBER() OVER(ORDER BY board_no DESC) AS rnum,board_no,board_title,board_content,board_time, hits
			FROM juiceta_board
		)
		WHERE rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
</select>
<select id="boardDetail" resultType="org.kosta.juicetaproject.model.vo.BoardVO" parameterType="int">
<include refid="boardSelect"></include>
where board_no = #{value} 
</select>
<update id="boardUpdate" parameterType="org.kosta.juicetaproject.model.vo.BoardVO">
update juiceta_board set board_title=#{boardTitle}, board_content=#{boardContent} where board_No = #{boardNo}
</update>
<insert id="registerBoard" parameterType="org.kosta.juicetaproject.model.vo.BoardVO">
insert into juiceta_board(board_no,board_title, board_content, board_time) values (juiceta_board_seq.nextval,#{boardTitle},#{boardContent},sysdate)
</insert>
<delete id="deleteBoard" parameterType="int">
delete from juiceta_board where board_no = #{value}
</delete>
</mapper>