<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.juicetaproject.model.mapper.CartAndWishlistMapper">
	
	<!-- <resultMap type="org.kosta.juicetaproject.model.vo.CartVO" id="cartResultMap">
		<result column="product_no"  property="productVO.productNo"/>
	</resultMap> -->
	
	<select id="findCartAllListById" parameterType="string" resultType="map">
		SELECT p.image, p.product_no, p.product_name,DBMS_LOB.SUBSTR(p.product_detail) AS product_detail,p.price,c.product_count,(p.price*c.product_count) AS total
		FROM juiceta_cart c
		INNER JOIN juiceta_product p ON c.product_no=p.product_no
		WHERE id=#{value}
	</select>
	
	<select id="totalCountPrice" parameterType="string" resultType="int">
		SELECT SUM(p.price*c.product_count) AS cart_total
		FROM juiceta_cart c
		INNER JOIN juiceta_product p ON c.product_no=p.product_no
		WHERE id=#{value}
	</select>

	<insert id="addWishlist" parameterType="map">
		INSERT INTO juiceta_wishlist VALUES(#{ID},#{PRODUCT_NO})
	</insert>	
	
	<select id="findWishlistByIdAndProductNo" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM juiceta_wishlist WHERE id=#{ID} AND product_no=#{PRODUCT_NO}
	</select>

	<select id="findCartByIdAndProductNo" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM juiceta_cart WHERE id=#{ID} AND product_no=#{PRODUCT_NO}
	</select>

	<insert id="addCart" parameterType="map">
		INSERT INTO juiceta_cart(id,product_no,product_count) VALUES(#{ID},#{PRODUCT_NO},#{PRODUCT_COUNT})
	</insert>

	<select id="getTotalCartById" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM juiceta_cart WHERE id=#{value}
	</select>

	<select id="findWishlistAllListById" parameterType="string" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		select p.product_no, product_name, p.price, p.product_detail, p.image, p.category from juiceta_product p inner join juiceta_wishlist w on p.product_no = w.product_no where w.id =#{value} 
	</select>

	<delete id="removeWishlist" parameterType="int">
		delete from juiceta_wishlist where product_no = #{value}
	</delete>

	<delete id="deleteCartById" parameterType="map">
		DELETE FROM juiceta_cart WHERE product_no = #{value}
	</delete>
	
	
</mapper>