<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.juicetaproject.model.mapper.CartAndWishlistMapper">
	
	<!-- <resultMap type="org.kosta.juicetaproject.model.vo.CartVO" id="cartResultMap">
		<result column="product_no"  property="productVO.productNo"/>
	</resultMap> -->
	
	<select id="findCartAllListById" parameterType="string" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		SELECT P.PRODUCT_NO,P.PRODUCT_NAME , P.PRODUCT_NAME , P.PRICE , P.PRODUCT_COUNT , P.PRODUCT_DETAIL , P.IMAGE , P.CATEGORY
		FROM juiceta_product P INNER JOIN juiceta_cart C ON P.PRODUCT_NO = C.PRODUCT_NO
		WHERE C.ID=#{value}
	</select>

	<insert id="addWishlist" parameterType="map">
		INSERT INTO juiceta_wishlist VALUES(#{ID},#{PRODUCT_NO})
	</insert>	
	
	<select id="findWishlistByIdAndProductNo" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM juiceta_wishlist WHERE id=#{ID} AND product_no=#{PRODUCT_NO}
	</select>

	<select id="findCartByIdAndProductNo" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM juiceta_cart WHERE id=#{ID} AND product_no=#{PRODUCT_NO}
	</select>

	<insert id="addCart" parameterType="map">
		INSERT INTO juiceta_cart(id,product_no,product_count) VALUES(#{ID},#{PRODUCT_NO},#{PRODUCT_COUNT})
	</insert>

	<select id="getTotalCartById" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM juiceta_cart WHERE id=#{value}
	</select>

	<select id="findWishlistAllListById" parameterType="string" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		select p.product_no, product_name, p.price, p.product_detail, p.image, p.category from juiceta_product p inner join juiceta_wishlist w on p.product_no = w.product_no where w.id =#{value} order by 
	</select>

	<delete id="removeWishlist" parameterType="int">
		delete from juiceta_wishlist where product_no = #{value}
	</delete>

	<delete id="deleteCartById" parameterType="map">
		DELETE FROM juiceta_cart WHERE product_no = #{value}
	</delete>
</mapper>