<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.juicetaproject.model.mapper.OrderMapper">
	<resultMap type="org.kosta.juicetaproject.model.vo.OrderDetailVO" id="orderDetailResultMap">
		<result column="order_no" property="orderVO.orderNo"/>
		<result column="order_time" property="orderVO.orderTime"/>
		<result column="price" property="productVO.price"/>
	</resultMap>
	
	<insert id="placeAnOrder" parameterType="org.kosta.juicetaproject.model.vo.OrderVO">
		INSERT INTO juiceta_order(order_no,order_time,receiver_name,receiver_phone,receiver_address,id)
		VALUES(juiceta_order_seq.nextval,SYSDATE,#{receiverName},#{receiverPhone},#{receiverAddress},#{memberVO.id})
		<selectKey keyColumn="order_no" keyProperty="orderNo" order="AFTER" resultType="int">
			SELECT juiceta_order_seq.currval FROM dual
		</selectKey>
	</insert>
	
	<insert id="placeAnOrderDetail" parameterType="map">
		INSERT INTO juiceta_order_detail(order_no,product_no,order_count) VALUES(#{ORDER_NO},#{PRODUCT_NO},#{PRODUCT_COUNT})
	</insert>
	
	<select id="findOrderById" parameterType="string" resultMap="orderDetailResultMap">
		SELECT d.order_no,TO_CHAR(o.order_time,'YYYY-MM-DD HH:MI:SS'),d.order_count,p.price
		FROM juiceta_order_detail d
		INNER JOIN juiceta_product p ON p.product_no=d.product_no
		INNER JOIN juiceta_order o ON d.order_no=o.order_no
		WHERE id=#{value}
	</select>

	<select id="findOrderByOrderNo" parameterType="int" resultType="map">
		SELECT receiver_name,receiver_phone,receiver_address FROM juiceta_order WHERE order_no=#{value}
	</select>
	
	<select id="findOrderListById" parameterType="string" resultType="map">
		SELECT order_no, order_time, SUM(total_price) AS total_price
		FROM(
			SELECT d.order_no,TO_CHAR(o.order_time,'YYYY-MM-DD HH24:MI:SS') AS order_time,d.product_no, p.price,d.order_count, (p.price*d.order_count) AS total_price
			FROM juiceta_order_detail d
			INNER JOIN juiceta_product p ON d.product_no=p.product_no
			INNER JOIN juiceta_order o ON d.order_no=o.order_no
			INNER JOIN juiceta_customer c ON c.id=o.id
			WHERE c.id=#{value}
		)
		GROUP BY order_no,order_time
		ORDER BY order_no DESC
	</select>
	
	<select id="getTotalOrderById" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM juiceta_order WHERE id=#{value}
	</select>
	
	<select id="findOrderListByIdPagination" parameterType="map" resultType="map">
		SELECT order_no, order_time, total_price
		FROM(
			SELECT ROW_NUMBER() OVER(ORDER BY order_no DESC) AS rnum,order_no, order_time, total_price
			FROM(
				SELECT order_no, order_time, SUM(total_price) AS total_price
				FROM(
					SELECT d.order_no,TO_CHAR(o.order_time,'YYYY-MM-DD HH24:MI:SS') AS order_time,d.product_no, p.price,d.order_count, (p.price*d.order_count) AS total_price
					FROM juiceta_order_detail d
					INNER JOIN juiceta_product p ON d.product_no=p.product_no
					INNER JOIN juiceta_order o ON d.order_no=o.order_no
					INNER JOIN juiceta_customer c ON c.id=o.id
					WHERE c.id=#{ID}
				)
				GROUP BY order_no,order_time
				ORDER BY order_no DESC
			)
		)
		WHERE rnum BETWEEN #{PAGINATION.startRowNumber} AND #{PAGINATION.endRowNumber}
	</select>
	
	<select id="findOrderInfoByOrderNo" parameterType="int" resultType="org.kosta.juicetaproject.model.vo.OrderVO">
		SELECT order_no,TO_CHAR(order_time,'YYYY-MM-DD HH24:MI:SS') AS order_time,receiver_address
		FROM juiceta_order 
		WHERE order_no=#{value}
	</select>
	
	<select id="findOrderTotalPriceInfoByOrderNo" parameterType="int" resultType="map">
		SELECT product_no,product_name,order_count,(price*order_count) AS total
		FROM (
			SELECT d.product_no,p.product_name,d.order_count,p.price
			FROM juiceta_order_detail d
			INNER JOIN juiceta_product p ON p.product_no=d.product_no
			WHERE d.order_no=#{value}
		)
	</select>
	
	<select id="findTotalCountReview" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM juiceta_review WHERE id=#{id} AND order_no=#{orderNo} AND product_no=#{productNo}
	</select>
	
	<select id="reduceProductCountAfterOrder" parameterType="map">
		UPDATE juiceta_product SET product_count=product_count-#{PRODUCT_COUNT} WHERE product_no=#{PRODUCT_NO}
	</select>
	
	<delete id="deleteProductFromCart" parameterType="string">
		DELETE FROM juiceta_cart WHERE id=#{value}
	</delete>
</mapper>















