<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.juicetaproject.model.mapper.ProductMapper">
	<sql id="selectProduct">
		SELECT product_no,product_name,price,product_count,product_detail,image,category FROM juiceta_product
	</sql>
	<select id="findProductAllList" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		<include refid="selectProduct"></include>
	</select>
	<select id="productDetail" parameterType="int" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		<include refid="selectProduct"></include>
			WHERE product_no=#{value}
	</select>
</mapper>
