<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.juicetaproject.model.mapper.ProductMapper">
	<sql id="selectProduct">
		SELECT product_no,product_name,price,product_count,product_detail,image,category FROM juiceta_product
	</sql>
	
	<select id="findProductAllList" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		SELECT rnum,product_no,product_name,price,product_count,product_detail,image,category
		FROM (
		SELECT row_number() over(ORDER BY product_no ASC) AS rnum,product_no,product_name,price,product_count,
		product_detail,image,category
		FROM juiceta_product
		) ORDER BY rnum DESC
	</select>
	
	<select id="getTotalProductCount" resultType="int">
		SELECT COUNT(*) FROM juiceta_product
	</select>
	
	<select id="findShopProductAllList" resultType="org.kosta.juicetaproject.model.vo.ProductVO" parameterType="org.kosta.juicetaproject.model.vo.ShopPagination">
		SELECT rnum,product_no,product_name,price,product_count,product_detail,image,category
		FROM(
			SELECT ROW_NUMBER() OVER(ORDER BY product_no DESC) AS rnum,product_no,product_name,price,product_count,product_detail,image,category
			FROM juiceta_product
		)
		WHERE rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	
	<insert id="registerProduct" parameterType="org.kosta.juicetaproject.model.vo.ProductVO">
		INSERT INTO juiceta_product(product_no,product_name,price,product_count,product_detail,image,category) 
		VALUES(juiceta_product_seq.nextval,#{productName},#{price},#{productCount},#{productDetail},#{image},#{category})
	</insert>
	
	<select id="findProductByProductNo" parameterType="int" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		<include refid="selectProduct"></include> WHERE product_no=#{value}
	</select>
	
	<select id="findProductAllListByCategory" parameterType="map" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		SELECT rnum,product_no,product_name,price,product_count,product_detail,image,category
		FROM(
			SELECT ROW_NUMBER() OVER(ORDER BY product_no DESC) AS rnum,product_no,product_name,price,product_count,product_detail,image,category
			FROM juiceta_product
			WHERE category=#{CATEGORY}
		)
		WHERE rnum BETWEEN #{PAGINATION.startRowNumber} AND #{PAGINATION.endRowNumber}
	</select>
	
	<update id="updateProduct" parameterType="org.kosta.juicetaproject.model.vo.ProductVO">
		UPDATE juiceta_product SET product_no=#{productNo},product_name=#{productName},
		price=#{price},product_count=#{productCount},product_detail=#{productDetail},
		image=#{image},category=#{category}
		WHERE product_no=#{productNo}
	</update>
	
	<delete id="deleteProduct" parameterType="org.kosta.juicetaproject.model.vo.ProductVO">
		DELETE FROM juiceta_product WHERE product_no=#{value}
	</delete>
	
	<select id="productAllListByRnum" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		SELECT rnum,product_no,product_name,price,product_count,product_detail,image,category
		FROM(
		SELECT ROW_NUMBER() OVER(ORDER BY product_no DESC) AS rnum,product_no,product_name,price,product_count,product_detail,image,category
		FROM juiceta_product
		)
	</select>
	
	<select id="findProductListByKeyword" parameterType="map" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		SELECT rnum,product_no,product_name,price,product_count FROM (
		SELECT row_number() over(ORDER BY product_no ASC) AS rnum,product_no,product_name,price,product_count 
			FROM juiceta_product WHERE product_name LIKE '%' || #{KEYWORD} || '%' ORDER BY rnum DESC
		) 
		WHERE rnum BETWEEN #{PAGINATION.startRowNumber} AND #{PAGINATION.endRowNumber}
	</select>
	
	<select id="getTotalProductCountbyCategory" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM juiceta_product WHERE category=#{value}
	</select>
	
	<select id="findProductByProductNameKeyword" parameterType="string" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		<include refid="selectProduct"></include> WHERE product_name LIKE '%'||#{value}||'%'
	</select>
	
	<select id="findAllProduct" resultType="org.kosta.juicetaproject.model.vo.ProductVO">
		SELECT rnum,product_no,product_name,price,product_count,product_detail,image,category
		FROM(
			SELECT ROW_NUMBER() OVER(ORDER BY product_no DESC) AS rnum,product_no,product_name,price,product_count,product_detail,image,category
			FROM juiceta_product
		)
		WHERE rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="findCountProductByKeyword" resultType="int">
		SELECT COUNT(*) FROM juiceta_product WHERE product_name LIKE '%'||#{value}||'%'
	</select>
</mapper>













