<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.juicetaproject.model.mapper.ReviewMapper">
	
	<insert id="registerReview" parameterType="org.kosta.juicetaproject.model.vo.ReviewVO">
		INSERT INTO juiceta_review(review_no,review_content,star,review_time,id,order_no,product_no)
		VALUES(juiceta_review_seq.nextval,#{reviewContent},#{star},SYSDATE,#{memberVO.id},#{orderDetailVO.orderVO.orderNo},#{orderDetailVO.productVO.productNo})
	</insert>
	
	<resultMap type="org.kosta.juicetaproject.model.vo.ReviewVO" id="ReviewResultMap">
		<result column="id" property="memberVO.id"/>
	</resultMap>
	
	<select id="findReviewListByProductNo" parameterType="int" resultMap="ReviewResultMap">
		SELECT id, review_content, star, review_time FROM juiceta_review WHERE product_no=#{value}
	</select>
	
	<select id="findProductNameForReviewByProductNo" parameterType="int" resultType="string">
		SELECT product_name FROM juiceta_product WHERE product_no=#{value}
	</select>
	
	<select id="findOrderTimeForReviewByOrderNo" parameterType="int" resultType="string">
		SELECT TO_CHAR(order_time,'YYYY-MM-DD HH24:MI:SS') AS order_time FROM juiceta_order WHERE order_no=#{value}
	</select>

	<select id="findCountByCheckReview" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM juiceta_review WHERE order_no=#{orderNo} AND product_no=#{productNo}
	</select>
	
	<select id="reviewCheck" resultType="int" parameterType="int">
		select count(*) from juiceta_review where order_no = #{orderNo} and product_no=#{productNo}
	</select>
	
	<select id="avgStarByProductNo" parameterType="int" resultType="int">
		SELECT ROUND(AVG(star)) FROM juiceta_review WHERE product_no=#{value}
	</select>
	
	<select id="getAllReviewList" parameterType="string" resultType="org.kosta.juicetaproject.model.vo.ReviewVO">
		SELECT review_no,review_content,star,review_time FROM juiceta_review WHERE id=#{value} ORDER BY review_no DESC
	</select>
	
	<update id="updateReview" parameterType="org.kosta.juicetaproject.model.vo.ReviewVO">
		UPDATE juiceta_review SET review_content=#{reviewContent}, star=#{star} WHERE review_no=#{reviewNo}
	</update>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM juiceta_review WHERE review_no=#{value}
	</delete>
	
</mapper>
