<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>checkout</title>
</head>

	<div layout:fragment="content" class="container">
		<div class="row">
		  <div class="col-md-4 offset-md-4">
		  	<h2>아이디찾기</h2>
			<input type="text" name="name" size="42" placeholder="이름" required="required"><br><br>
			<input type="text" name="phone" size="42" placeholder="연락처" required="required"><br><br>
			<button type="button" class="btn btn-success btn-block">아이디찾기</button>
			<br>
			<span id="findIdResult">여기에 결과</span>
		  </div>
		</div>	
		
		<script type="text/javascript">
			$.ajax({
				type:"get",
				url:"findMemberId",
				data:"",
				success:function(result){
				
				}
			});
		</script>
	</div>

</html>