<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>아이디찾기/비밀번호재발급</title>
</head>

	<div layout:fragment="content" class="container">
		<div class="row">
		  <div class="col-md-4 offset-md-4">
		  	<h2>아이디찾기</h2>
			<input type="text" id="findIdName" size="42" placeholder="이름"><br><br>
			<input type="text" id="findIdPhone" size="42" placeholder="연락처"><br><br>
			<button type="button" id="findId" class="btn btn-success btn-block">아이디찾기</button><br>
			<span style="float: right"><a href="#" th:href="@{/guest/loginForm}">로그인화면으로 이동</a></span><br>
			<span id="findIdResult"></span>
			<br><br>
			<h2>비밀번호 재발급</h2>
			<input type="text" id="findPwId" size="42" placeholder="아이디"><br><br>
			<input type="text" id="findPwName" size="42" placeholder="이름"><br><br>
			<input type="text" id="findPwPhone" size="42" placeholder="연락처"><br><br>
			<button type="button" id="findPw" class="btn btn-success btn-block">임시비밀번호 발급</button><br>
			<span style="float: right"><a href="#" th:href="@{/guest/loginForm}">로그인화면으로 이동</a></span><br>
			<span id="findPwResult"></span>
		  </div>
		</div>	
		
		<script type="text/javascript">
			$(document).ready(function() {
				$("#name").keyup(function() {
					if($(this).val()=="")
						$("#findIdResult").text("");	
				});
				
				$("#phone").keyup(function() {
					if($(this).val()=="")
						$("#findIdResult").text("");	
				});
				
				$("#findId").click(function() {
					$.ajax({
						type:"get",
						url:"/guest/findMemberId",
						data:"name="+$("#findIdName").val()+"&phone="+$("#findIdPhone").val(),
						success:function(result){
							if(result==""){
								$("#findIdResult").html("** 해당하는 회원아이디가 존재하지 않습니다 **").css("color", "red");
							}else{
								$("#findIdResult").html("** 찾으시는 회원아이디는 "+result+" 입니다 **").css("color","red");								
							}
						}
					});
				});
				
				$("#findPw").click(function() {
					$.ajax({
						type:"get",
						url:"/guest/findMemberPassword",
						data:"id="+$("#findPwId").val()+"&name="+$("#findPwName").val()+"&phone="+$("#findPwPhone").val(),
						success:function(result){
							if(result==""){
								$("#findPwResult").html("** 해당하는 회원정보가 존재하지 않습니다 **").css("color", "red");
							}else{
								$("#findPwResult").html("** 임시비밀번호는 "+result+" 입니다 **").css("color","red");								
							}
						}
					});
				});
				
			});
		</script>
	</div>

</html>