<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>Login</title>
</head>

	<div layout:fragment="content" class="container">
		<div class="row">
		  <div class="col-md-4 offset-md-4">
		  	<h1>Login</h1>
			<form th:action="@{/login}"   action="/login" method="post" id="loginForm">	
				<input type="text" name="id" size="42" placeholder="아이디" required="required"><br><br>
				<input type="password" name="password" size="42" placeholder="비밀번호" required="required"><br><br>
				<button type="submit" class="btn btn-success btn-block">로그인</button>
			</form>
			<br>
			<span><a href="#" th:href="@{/guest/registerForm}">회원가입</a></span>
			<span style="float: right"><a href="#" th:href="@{/guest/findMemberIdAndPasswordForm}">아이디/비밀번호 찾기</a></span>	
		  </div>
		</div>	
	</div>

</html>