<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>MyPage</title>
</head>

	<div layout:fragment="content" class="container">
		<div class="row">
		  <div class="col-md-5 offset-md-5">
		  	<h2>회원정보</h2>
			<span style="display: inline-block; width: 100px; height: 30px">ID</span><span style="display: inline-block; width: 100px; height: 30px" sec:authentication="principal.id">아이디</span><br>
			<span style="display: inline-block; width: 100px; height: 30px">NAME</span><span style="display: inline-block; width: 100px; height: 30px" sec:authentication="principal.name">이름</span><br>
			<span style="display: inline-block; width: 100px; height: 30px">ADDRESS</span><span style="display: inline-block; width: 100px; height: 30px" sec:authentication="principal.address">주소</span><br>
			<span style="display: inline-block; width: 100px; height: 30px">PHONE</span><span style="display: inline-block; width: 100px; height: 30px" sec:authentication="principal.phone">연락처</span><br>
			<span style="float: right"><a href="#" th:href="@{/updateForm}">회원정보수정</a></span>	
		  </div>
		</div><br><br>
		<div class="col-md-5 offset-md-5">
		  주문내역 <span >주문내역</span><br><br>
		  주문번호 <span >주문번호</span><br>
		  주문날짜 <span >주문날짜</span><br>
		 총계 <span >총계</span><br><br>
		  <a href="">주문보기</a>
		</div>
  	</div>
	
</html>