<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}" 
>
<head>
<title>RegisterMember</title>
</head>
<!--/*
		Spring Security 적용시에는 
		post 방식일때는 반드시   csrf token 을 발급받아 함께 서버에 전송해야 한다 
		th:action 을 이용하면 자동으로 csrf token 이 hidden으로 삽입된다 
		th:action="@{/guest/registerMember}"
*/-->
<div layout:fragment="content" class="container">
	<div class="row">
		 <div class="col-md-4 offset-md-4">
		 	<h1>회원가입</h1>
		 	<form method="post"  action="/guest/registerMember" th:action="@{/guest/registerMember}" id="regForm">
				<input type="text" name="id" id="memberId" placeholder="아이디" size="42"><span id="idCheckView"></span><br><br>
				<input type="password" name="password" id="memberPassword" placeholder="비밀번호" required="required" size="42"><br><br>
				<input type="password" name="passwordCheck" id="memberPasswordCheck" placeholder="비밀번호확인" required="required" size="42"><span id="passwordCheckView"></span><br><br>
				<input type="text" name="name" placeholder="이름"  required="required" size="42"><br><br>
				<input type="text" name="address" placeholder="주소"  required="required" size="42"><br><br>
				<input type="text" name="phone" placeholder="휴대전화번호"  required="required"size="42"><br><br>
				<button type="submit" class="btn btn-success btn-block">가입하기</button>
				<button type="reset" class="btn btn-danger btn-block">취소하기</button>
			</form>
		 </div>
	</div>

<script type="text/javascript">
 	$(document).ready(function(){
		let checkResultId="";		
		let checkResultPassword="";
		$("#regForm").submit(function(){
			if(checkResultId==""){
				alert("아이디 중복확인을 하세요");
				return false;
			}
			if(checkResultPassword==""){
				alert("비밀번호를 확인하세요");
				return false;
			}
		});
		
		$("#regForm :input[name=passwordCheck]").keyup(function() {
			let password = $("#memberPassword").val().trim();
			if(password!=$(this).val()){
				$("#passwordCheckView").html("** 비밀번호가 일치하지 않습니다 **").css("color","red");
				checkResultPassword="";
			}else{
				$("#passwordCheckView").html("** 비밀번호가 일치합니다 **").css("color","green");
				checkResultPassword=password;
			}
			if($(this).val()==""){
				$("#passwordCheckView").text("");
			}
		});
		
		$("#regForm :input[name=password]").keyup(function() {
			let password = $("#memberPasswordCheck").val();
			if(password!=""){
				if(password!=$(this).val()){
					$("#passwordCheckView").html("** 비밀번호가 일치하지 않습니다 **").css("color","red");
					checkResultPassword="";
				}else{
					$("#passwordCheckView").html("** 비밀번호가 일치합니다 **").css("color","green");
					checkResultPassword=password;
				}
			}
			if($(this).val()==""){
				$("#passwordCheckView").text("");
			}
		});
		
		$("#regForm :input[name=id]").keyup(function(){
			let id=$(this).val().trim();
			if(id.length<0){
				$("#idCheckView").text("");
			}
			if(id.length<4 || id.length>10){
				if(id.length<1){
					$("#idCheckView").html("");					
				}else{
					$("#idCheckView").html("** 아이디는 4자이상 10자 이하로 입력하세요 **").css("color","red");
				}
				checkResultId="";
				return;
			}
			$.ajax({
				type:"get",
				url:"/guest/idcheckAjax",				
				data:"id="+id,	
				success:function(data){						
					if(data=="fail"){
					$("#idCheckView").html("** 사용 불가능한 아이디입니다 **").css("color","red");
						checkResultId="";
					}else{						
						$("#idCheckView").html("** 사용 가능한 아이디입니다 **").css("color","green");		
						checkResultId=id;
					}					
				}//callback			
			});//ajax
		});//keyup
	});//ready 
</script>
</div>
</html>