<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/* 
		필요한 html 요소만 정의한다 		 
		th:fragment="headerFragment" 는 반드시 명시하도록 한다 
 */-->
     <nav th:fragment="headerFragment" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="" th:href="@{/}">JUICETA</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu 
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item active"><a href="#" th:href="@{/}" class="nav-link">Home</a></li>
	        	<th:block sec:authorize="isAuthenticated()">
		        	<li class="nav-item"><span class="nav-link" sec:authentication="principal.name" id="name">이름</span></li>
		        	<li class="nav-item"><a href="#" th:href="@{/mypage}" class="nav-link">MyPage</a></li>
		        	<li class="nav-item"><a href="#" th:href="@{/shop}" class="nav-link">Shop</a></li>
		        	<li class="nav-item"><a href="#" th:href="@{/wishlist}" class="nav-link">Wishlist</a></li>
		        	<li class="nav-item cta cta-colored"><a href="#" th:href="@{/findCartAllListById}" class="nav-link"><span class="icon-shopping_cart"></span>[<span id="totalCartCount">0</span>]</a></li>
	        	</th:block>
	        	<li class="nav-item"><a href="#" th:href="@{/guest/board}" class="nav-link">Notice</a></li>
	        	<th:block sec:authorize="hasRole('ROLE_ADMIN') and hasRole('ROLE_MEMBER')">
	        		<li class="nav-item dropdown">
              			<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">관리자메뉴</a>
			            <div class="dropdown-menu" aria-labelledby="dropdown04">
				            <a class="dropdown-item" href="#" th:href="@{/productAdmin}">상품관리</a>
				            <a class="dropdown-item" href="#">공지사항관리</a>
			            </div>
            		</li>
	        	</th:block>
	        	<li class="nav-item"><a href="#" th:href="@{/loginForm}" class="nav-link" sec:authorize="isAuthenticated()==false">Login</a></li>
	        	<th:block sec:authorize="isAuthenticated()">
	        		<li class="nav-item"><a href="#" id="logoutAction" class="nav-link">Logout</a></li>
		        	<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none"></form>
			        <script type="text/javascript">
			        	$(document).ready(function() {
			    			$("#logoutAction").click(function() {
			    				$("#logoutForm").submit();
			    			});
			    			
			    			$.ajax({
			    				type:"get",
			    				url:"/getTotalCartByIdAjax",
			    				success:function(result){
			    					$("#totalCartCount").text(result);
			    				}
			    			});
			        	});
			        </script>
	        	</th:block>
	        </ul>
	      </div>
	    </div>
	  </nav>
</html>