<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>checkout</title>
</head>

	<div layout:fragment="content" class="container">
	<h2>공지 사항</h2>
		<table class="table table-boardered">
			<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성일자</th>
				<th>조회 수</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="board:${boardAllList}">
					<td th:text="${board.boardNo}"></td>
					<td th:text="${board.boardTitle}"></td>
					<td th:text="${board.boardTime}"></td>
					<td th:text="${board.hits}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</html>