<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위  선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>checkout</title>
</head>

<div layout:fragment="content" class="container">
<h2>공지 사항</h2>
	<div style="border-top:solid; padding: 20px;" class="row">
		<div  class="col-2" th:text="'글 번호 : '+${boardDetail.boardNo}" align="center">글 번호</div>
		<div class="col-5" th:text=" '글 제목 : '+ ${boardDetail.boardTitle}" align="center">글 제목</div>
		<div class="col-3" th:text="'작성 일 : '+ ${boardDetail.boardTime}" align="center">작성 일</div>
		<div class="col-2" th:text="'조회 수 : '+ ${boardDetail.hits}">조회 수</div>
	</div>
	
	<div class="row" th:text="${boardDetail.boardContent}" style="border-bottom : solid; border-top:ridge; padding: 20px"></div>
	<a th:href="@{boardUpdateForm?No=}+${boardDetail.boardNo}" class="btn btn-outline-success">수정하기</a>
	<form action="" method="post" th:action="@{/guest/boardDelete}">
		<input type="hidden" th:value="${boardDetail.boardNo}" name="boardNo">
		<button class="btn btn-outline-success" type="submit" id="deleteBtn">삭제하기</button>
	</form> 
<script type="text/javascript">
$(document).ready(function() {
	$("#deleteBtn").click(function() {
		let message = confirm("정말로 삭제하시겠습니까?");
		if(message==false){
			return false;
		}
	})
})
	
</script>
	
</div>


</html>