<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
   <title>checkout</title>
</head>
   <div layout:fragment="content" class="container">
<form action="" th:action="@{/guest/boardUpdate}" method="post">
		<h2>공지 사항 수정</h2>
		<div style="border-top:solid; padding: 20px;" class="row">
		<div  class="col-2" th:text="'글 번호 : '+${boardUpdate.boardNo}"  align="center">글 번호</div>
		<input type="hidden" th:value="${boardUpdate.boardNo}" name="boardNo" >
		글 제목 :   &nbsp;<input style="width: 35%" type="text"  th:value="${boardUpdate.boardTitle}" name="boardTitle">
		<div class="col-3" th:text="'작성 일 : '+ ${boardUpdate.boardTime}" align="center">작성 일</div>
		<div class="col-2" th:text="'조회 수 : '+ ${boardUpdate.hits}">조회 수</div>
	</div>
	<textarea inputmode="text" th:value="${boardUpdate.boardContent}" th:text="${boardUpdate.boardContent}"style="border-bottom : solid; border-top:ridge; padding: 20px; width: 100%"; name="boardContent" ></textarea>	
	<button type="submit">수정완료</button>
    </form>

	</div>
</html>