<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>checkoutResult</title>
</head>
	<div layout:fragment="content" class="container">
	
		<div class="row">
		  <div class="col-md-8 offset-md-3">
		  		<h1><span style="color: green">주문이 정상적으로 완료</span>되었습니다.</h1><br>
		  </div>
		</div>
		<table class="table table-bordered">
  			<tr>
  				<td>주문번호</td><td th:text="${param.orderNo}"></td>
  			</tr>
  			<tr>
  				<td rowspan="3">배송지정보</td><td th:text="${orderVO.receiverName}">받는사람</td>
  			</tr>
  			<tr>
  				<td th:text="${orderVO.receiverPhone}">전화번호</td>
  			</tr>
  			<tr>
  				<td th:text="${orderVO.receiverAddress}">주소</td>
  			</tr>
  		</table>
		<div class="row">
			  <div class="col-md-8 offset-md-3">
		  		<span style="float: right"><a href="#" th:href="@{/}">홈화면으로 이동</a></span>
	  		</div>
		</div>
		
	</div>
</html>