<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>order-detail</title>
</head>

	<div layout:fragment="content" class="container">
		<div class="col-md-4 offset-md-4">
		  <h2>상세주문내역</h2>
			  <span style="display: inline-block; width: 100px; height: 30px">주문번호</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" th:text="${orderInfo.orderNo}">주문번호</span><br>
			  <span style="display: inline-block; width: 100px; height: 30px">주문날짜</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" th:text="${orderInfo.orderTime}">주문날짜</span><br><br>
		  	  <span style="display: inline-block; width: 100px; height: 30px">배송주소</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" th:text="${orderInfo.receiverAddress}">배송주소</span><br><br>
		</div>
		<div class="col-md-4 offset-md-4">
			<th:block th:each="list:${list}">
		    	<span style="display: inline-block; width: 100px; height: 30px">상품명</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" th:text="${list.PRODUCT_NAME}">상품명</span><br>
		    	<span style="display: inline-block; width: 100px; height: 30px">주문수량</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" th:text="|${list.ORDER_COUNT}BOX|">주문수량</span><br>
		    	<span style="display: inline-block; width: 100px; height: 30px">주문금액</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" th:text="|${list.TOTAL}원|">주문금액</span><br>
				<span style="float: right"><a href="#" th:href="@{/registerReviewForm(orderNo=${param.orderNo},productNo=${list.PRODUCT_NO})}">리뷰작성하기</a></span><br><br>
			</th:block>
		</div>
	</div>

</html>