<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>order-detail</title>
</head>

	<div layout:fragment="content" class="container">
		<div class="col-md-4 offset-md-4">
		  <h2>상세주문내역</h2>
		  <th:block>
			  <span style="display: inline-block; width: 100px; height: 30px">주문번호</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" >주문번호</span><br>
			  <span style="display: inline-block; width: 100px; height: 30px">주문날짜</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" >주문날짜</span><br><br>
		  	  <span style="display: inline-block; width: 100px; height: 30px">배송주소</span>&nbsp;&nbsp;<span style="display: inline-block; width: 200px; height: 30px" >배송주소</span><br><br>
		  </th:block>
		</div>
	</div>

</html>