<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>wishlist</title>
</head>

	<div layout:fragment="content" class="container">
		<div class="row">
  			<div class="col-md-12 ftco-animate">
  				<div class="cart-list">
	   				<table class="table">
					    <thead class="thead-primary">
					      <tr class="text-center">
					        <th>&nbsp;</th>
					        <th>Product List</th>
					        <th>Product Detail</th>
					        <th>Price</th>
					        <th>Product Category</th>
					        <th>Cart-ADD</th>
					      </tr>
					    </thead>
					    <tbody th:each="productVO:${wishlistAllList}">
					    
					      <tr class="text-center">
					      <form th:action="@{/removeWishlist}" method="post">
					     	<input type="hidden" th:value="${productVO.productNo}" name="productNo">
					        <td class="product-remove"><button class="btn btn-primary" href="#" th:href="@{/removeWishlist}"><span class="ion-ios-close"></span></button></td>
					      </form>
					        <td class="image-prod"><div class="img" style="background-image:url(images/product-1.jpg);"></div></td>				        
					        <td class="product-name">
					        	<h3 th:text="${productVO.productName}">상품명</h3>
					        	<p th:text="${productVO.productDetail}">상품상세설명</p>
					        </td>					        
					        <td class="price" th:text="${productVO.price}">상품가격</td>					        
					        <td class="category" th:text="${productVO.category}"></td>
					        
					    	<td class="product-remove">
					        <form th:action="@{/addCartAjax}" method="post"> 
					        <input type="hidden" th:value="${productVO.productNo}" name="productNo" id="productNo">
					        <input type="hidden" th:value=1 name="productCount" id="quantity">
					        <button type="button" class="btn btn-primary addCart" ><span >+</span></button>		        
					        </form>
					        </td>	
					       
					      </tr>
					    </tbody>
				  </table>
			  	</div>
  			</div>
  			<!-- <div class="col-md-4 offset-md-10">
  				<p>&nbsp;</p>
				<p><a href="#"class="btn btn-primary py-3 px-4">Add To Cart</a></p>
	      	</div> -->
  		
  		
  		</div>
  		<script type="text/javascript">

  		$(document).ready(function(){
				let quantitiy=0;
			 

			   	$(".quantity-right-plus").click(function(e){	        
			        // Stop acting like a button
			        e.preventDefault();
			        // Get the field name
			        quantity = parseInt($('#quantity').val());			 
			        // If is not undefined
			 		$("#quantity").val(quantity + 1);
					 // Increment  
			    	});

			     	$(".quantity-left-minus").click(function(e){
			        	// Stop acting like a button
			        	e.preventDefault();
			        	// Get the field name
			        	quantity = parseInt($("#quantity").val());			        
			       		 // If is not undefined
			            // Increment
			            if(quantity>0){
			            	$("#quantity").val(quantity - 1);
			            }
			    	});
			     	
			     	 // ajax post csrf token 을 위한 설정 
					let token = $("meta[name='_csrf']").attr("content"); 
					let header = $("meta[name='_csrf_header']").attr("content");
					
					//let urlSearch = new URLSearchParams(location.search);
					//let productNo = urlSearch.get("productNo");
					
						$(".addCart").click(function() {
						let productNo = $("#productNo").val();
						let productCount = $("#quantity").val();
						$.ajax({
							type:"post",
							url:"/addCartAjax",
							data:"productNo="+productNo+"&productCount="+productCount,
							beforeSend : function(xhr){  
			                    xhr.setRequestHeader(header,token);
			                },
							success:function(result){
								if(result=="fail")
									alert("이미 장바구니목록에 추가된 상품입니다");
								else{
									alert("장바구니 목록에 추가하였습니다");
								}
							}
						});
					});
  		});
    	</script>
    	
	</div>

</html>