<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>product-list</title>
</head>
	<div layout:fragment="content" class="container">
		<h1>상품관리</h1>
		<form action="" th:action="@{/productSelect}">
		  <input type="text" name="productKeyword" placeholder="상품명" id="keyword">
		  <button type="submit" id="selectProduct" class="btn btn-outline-success">상품검색</button>&nbsp;&nbsp;&nbsp;
		</form><br>
		  <form action="" th:action="@{/registerProductForm}">
		  <button type="submit" class="btn btn-outline-success">상품등록</button>
		  </form>
		<br><br>
		 <table class="table table-bordered">
		 	<thead style="background-color: gold">
		 		<tr>
		 			<th>상품번호</th>
		 			<th>상품명</th>
		 			<th>가격</th>
		 			<th>수량</th>
		 			<th>수정</th>
		 			<th>삭제</th>
		 		</tr>
		 	</thead>
		 	<tbody id="productInfo">
		 		<tr th:each="product:${productList}">
		 		  <td th:text="${product.productNo}" class="col-sm-1">상품번호</td>
		 		  <td th:text="${product.productName}" class="col-sm-3" id="productName">상품명</td>
		 		  <td th:text="|${product.price}원|" class="col-sm-2">가격</td>
		 		  <td th:text="|${product.productCount}box|" class="col-sm-2">수량</td>
		 		  <td>
		 		  <form action="" th:action="@{/updateProductForm}">
		 		 	 <input type="hidden" th:value="${product.productNo}" name="productNo">
		 		    <button type="submit" id="updateProductBtn" class="btn btn-outline-success" name="updateBtn">수정</button>
		 		  </form>
		 		  </td>
		 		  <td>
		 		  	  <form action="" th:action="@{/deleteProduct}" method="post">
		 		  	  <input type="hidden" th:value="${product.productNo}" name="productNo">
		 		  	  	<button type="submit" id="deleteProductBtn" class="btn btn-outline-success" name="deleteBtn">삭제</button>
		 		  	  </form>
		 		  </td>
		 		</tr>
		 	</tbody>
		 </table>
		<script type="text/javascript">
			$(document).ready(function() {
			$(document).on("click","button[name='updateBtn']",function() {
				return confirm("상품을 수정하시겠습니까?");
			});//click
			$(document).on("click","button[name='deleteBtn']",function() {
				let message=confirm("상품을 삭제하시겠습니까?");
				if(message==false)
					return false
			});//click
				$("#updateProduct").click(function() {
					let message=confirm("상품을 수정하시겠습니까?");
					if(message==true){
					}
				});//click
			});//ready
		</script>
    	
    	<!--/* Pagination 부분 */-->
    	<th:block th:if="${pagination}!=null">
 		<div class="row mt-5">
       		<div class="col text-center">
         		<div class="block-27">
		           <ul>
		             <li th:if="${pagination.previousPageGroup}"><a href="#" th:href="@{/productAdmin(pageNo=${pagination.startPageOfPageGroup-1})}">&lt;</a></li>
		             <th:block th:each="pageNo : ${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
			             <li th:if="${pageNo==pagination.nowPage}" class="active"><a href="#" th:href="@{/productAdmin(pageNo=${pageNo})}" th:text="${pageNo}">pageNo</a></li>
			             <li th:unless="${pageNo==pagination.nowPage}"><a href="#" th:href="@{/productSelect(pageNo=${pageNo},productKeyword=${param.productKeyword})}" th:text="${pageNo}">pageNo</a></li>
		             </th:block>
		             <li th:if="${pagination.nextPageGroup}"><a href="#" th:href="@{/productAdmin(pageNo=${pagination.endPageOfPageGroup+1})}">&gt;</a></li>
		           </ul>
         		</div>
       		</div>
   		</div>
   		</th:block>
   		<!--/* Pagination 부분 */-->
		
	</div>
</html>






















