<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>product-search-keyword</title>
</head>

	<div layout:fragment="content" class="container">
	    <section class="ftco-section">
	    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
	          		<div class="col-md-12 heading-section text-center ftco-animate">
			          	<span class="subheading">Featured Products</span>
			            <h2 class="mb-4">"&nbsp;<span th:text="${param.searchKeyword}"></span>&nbsp;" 상품 검색 결과</h2>
			            <p>못난이 과일로 만든 신선하고 건강한 과일즙, 과일차를 만나보세요!</p>  		
	          		</div>
	        	</div>
	    	</div>
	    	<br>
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-md-6 col-lg-3 ftco-animate" th:each="product:${productList}">
	    				<div class="product">
	    					<a href="#" th:href="@{/guest/DetailView(productNo=${product.productNo})}" class="img-prod"><img class="img-fluid" src="images/product-2.jpg" th:src="@{/images/}+${product.image}" alt="Colorlib Template">
	    						<div class="overlay"></div>
	    					</a>
	    					<div class="text py-3 pb-4 px-3 text-center">
	    						<h3 th:text="${product.productName}">상품명</h3>
	    						<div class="d-flex">
	    							<div class="pricing">
			    						<p class="price"><span>&#8361; </span><span th:text="${product.price}">상품가격</span></p>
			    					</div>
		    					</div>
	    						<div class="bottom-area d-flex px-3">
		    						<div class="m-auto d-flex">
		    							<span th:data-product="${product.productNo}"></span>
		    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
		    								<span><i class="ion-ios-cart"></i></span>
		    							</a>
		    							<a class="heart d-flex justify-content-center align-items-center btn addwishlist">
		    								<span><i class="ion-ios-heart"></i></span>
		    							</a>
	    							</div>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    			<script type="text/javascript">
	    				$(document).ready(function() {
	    					$(".addwishlist").click(function() {
	    						let productNo = $(this).prev().prev().data("product");
	    						$.ajax({
	    							type:"get",
	    							url:"addWishlistAjax",
	    							data:"productNo="+productNo,
	    							success:function(result){
	    								if(result=="fail")
	    									alert("이미 찜목록에 추가된 상품입니다");
	    								else
	    									alert("찜 목록에 추가하였습니다");
	    							}
	    						});
	    					});
	    				});
	    			</script>
	    		</div>
	    	</div>
	    </section>
	</div>

</html>