<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>product-list</title>
</head>
	<div layout:fragment="content" class="container">
		<h1>상품관리</h1>
		<form action="">
		  <input type="text" name="productName" placeholder="상품명">
		  <button type="submit" id="selectProduct">상품검색</button>&nbsp;&nbsp;&nbsp;
		</form><br>
		  <form action="" th:action="@{/registerProductForm}">
		  <button type="submit">상품등록</button>
		  </form>
		<br><br>
		 <table class="table table-bordered">
		 	<thead style="background-color: gold">
		 		<tr>
		 			<th>상품번호</th>
		 			<th>상품명</th>
		 			<th>가격</th>
		 			<th>수량</th>
		 			<th>수정</th>
		 			<th>삭제</th>
		 		</tr>
		 	</thead>
		 	<tbody>
		 		<tr th:each="product:${productVO}">
		 		  <td th:text="${product.productNo}" class="col-sm-1">상품번호</td>
		 		  <td th:text="${product.productName}" class="col-sm-3">상품명</td>
		 		  <td th:text="|${product.price}원|" class="col-sm-2">가격</td>
		 		  <td th:text="|${product.productCount}box|" class="col-sm-2">수량</td>
		 		  <td>
		 		  <form action="" th:action="@{/updateProductForm}">
		 		 	 <input type="hidden" th:value="${product.productNo}" name="productNo">
		 		    <button type="submit" id="updateProductBtn">수정</button>
		 		  </form>
		 		  </td>
		 		  <td>
		 		  	  <form action="" th:action="@{/deleteProduct}" method="post">
		 		  	  <input type="hidden" th:value="${product.productNo}" name="productNo">
		 		  	  	<button type="submit" id="deleteProductBtn">삭제</button>
		 		  	  </form>
		 		  </td>
		 		</tr>
		 	</tbody>
		 </table>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#updateProductBtn").click(function() {
					return confirm("상품을 수정하시겠습니까?");
				});//click
				$("#deleteProductBtn").click(function() {
					let message=confirm("상품을 삭제하시겠습니까?");
					if(message==false)
						return false
				})//click
			});//ready
		</script>
	</div>
</html>






















