<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>shop-juice</title>
</head>

 	<div layout:fragment="content" class="container">
 		<div class="row justify-content-center">
 			<div class="col-md-10 mb-5 text-center">
 				<ul class="product-category">
 					<li><a href="#" th:href="@{/shop}">All</a></li>
 					<li><a href="#" th:href="@{/shopCategory(category=juice)}" class="active">Juice</a></li>
 					<li><a href="#" th:href="@{/shopCategory(category=tea)}">Tea</a></li>
 				</ul>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-md-6 col-lg-3 ftco-animate" th:each="product:${productAllList}">
 				<div class="product">
 					<a href="#" th:href="@{/guest/DetailView(productNo=${product.productNo})}" class="img-prod"><img class="img-fluid" src="" th:src="@{/images/}+${product.image}" alt="Colorlib Template">
 						<span class="status" th:if="${product.productCount<1}">품절</span>
 						<div class="overlay"></div>
 					</a>
 					<div class="text py-3 pb-4 px-3 text-center">
 						<h3><a href="#" th:text="${product.productName}">상품명</a></h3>
 						<div class="d-flex">
 							<div class="pricing">
   								<p class="price">
   									<span class="mr-2 price-dc" th:if="${product.productCount<1}" th:text="${product.price}">품절상품가격</span>
   									<span class="price-sale" th:if="${product.productCount>0}" th:text="${product.price}">상품가격</span>
   								</p>
   							</div>
  						</div>
	  					<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<span th:data-count="${product.productCount}"></span>
    							<span th:data-product="${product.productNo}"></span>
    							<a class="buy-now d-flex justify-content-center align-items-center mx-1 btn addcart">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a class="heart d-flex justify-content-center align-items-center btn addwishlist">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
   							</div>
   						</div>
   					</div>
   				</div>
   			</div>
   			<script type="text/javascript">
   				$(document).ready(function() {
   					// ajax post csrf token 을 위한 설정 
   					let token = $("meta[name='_csrf']").attr("content"); 
   					let header = $("meta[name='_csrf_header']").attr("content");
   					
   					$(".addwishlist").click(function() {
   						let productNo = $(this).prev().prev().data("product");
						let productCount = $(this).prev().prev().prev().data("count");
						
						if(productCount==0){
							alert("품절상품입니다");
							return;
						}
						
   						$.ajax({
   							type:"post",
   							url:"/addWishlistAjax",
   							data:"productNo="+productNo,
   							beforeSend : function(xhr){  
   			                    xhr.setRequestHeader(header,token);
   			                },	
   							success:function(result){
   								if(result=="fail")
   									alert("이미 찜목록에 추가된 상품입니다");
   								else
   									alert("찜 목록에 추가하였습니다");
   							}
   						});
   					});
   					
   					$(".addcart").click(function() {
   						let productNo = $(this).prev().data("product");
						let productCount = $(this).prev().prev().data("count");
						
						if(productCount==0){
							alert("품절상품입니다");
							return;
						}
						
   						$.ajax({
   							type:"post",
   							url:"/addCartAjax",
   							data:"productNo="+productNo+"&productCount=1",
   							beforeSend : function(xhr){  
   			                    xhr.setRequestHeader(header,token);
   			                },	
   							success:function(result){
   								if(result=="fail")
   									alert("이미 장바구니목록에 추가된 상품입니다");
   								else{
   									alert("장바구니 목록에 추가하였습니다");
   									$("#totalCartCount").text(Number($("#totalCartCount").text())+1);
   								}
   							}
   						});
   					});
   				});
   			</script>
   		</div>
 		
    	<!--/* Pagination 부분 */-->
    	<th:block th:if="${pagination}!=null">
 		<div class="row mt-5">
       		<div class="col text-center">
         		<div class="block-27">
		           <ul>
		             <li th:if="${pagination.previousPageGroup}"><a href="#" th:href="@{/shopCategory(category=juice,pageNo=${pagination.startPageOfPageGroup-1})}">&lt;</a></li>
		             <th:block th:each="pageNo : ${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
			             <li th:if="${pageNo==pagination.nowPage}" class="active"><a href="#" th:href="@{/shopCategory(category=juice,pageNo=${pageNo})}" th:text="${pageNo}">pageNo</a></li>
			             <li th:unless="${pageNo==pagination.nowPage}"><a href="#" th:href="@{/shopCategory(category=juice,pageNo=${pageNo})}" th:text="${pageNo}">pageNo</a></li>
		             </th:block>
		             <li th:if="${pagination.nextPageGroup}"><a href="#" th:href="@{/shopCategory(category=juice,pageNo=${pagination.endPageOfPageGroup+1})}">&gt;</a></li>
		           </ul>
         		</div>
       		</div>
   		</div>
   		</th:block>
   		<!--/* Pagination 부분 */-->
   		
 	</div>

</html>