<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>update-form</title>
</head>

	<div layout:fragment="content" class="container">
		<form action="" th:action="@{/update}" method="post">
			<h1>상품수정</h1>
			<input type="text" name="productNo" placeholder="상품번호" readonly="readonly" th:value="${productVO.productNo}"><br>
			<input type="text" name="productName" placeholder="상품명" required="required" th:value="${productVO.productName}" ><br>
			<input type="text" name="price" placeholder="상품가격" required="required" th:value="${productVO.price}"><br>
			<input type="text" name="productCount" placeholder="상품수량" required="required" th:value="${productVO.productCount}"><br>
			<input type="text" name="productDetail" placeholder="상품설명" required="required" th:value="${productVO.productDetail}"><br>
			<input type="text" name="image" placeholder="상품이미지" readonly="readonly" th:value="${productVO.image}"><br>
			<input type="text" name="category" placeholder="상품카테고리" required="required" th:value="${productVO.category}"><br>
			<button type="submit" class="btn btn-outline-success">수정</button>&nbsp;&nbsp;<button type="reset" class="btn btn-outline-success">취소</button>
		</form>
	</div>

</html>



