<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
	<title>update-form</title>
</head>
	<div layout:fragment="content" class="container">
	
		<div class="row">
			<div class="col-md-4 offset-md-4">
			 	<h1>상품수정</h1>
				<form action="" th:action="@{/update}" method="post">
					<input type="text" name="productNo" placeholder="상품번호" readonly="readonly" th:value="${productVO.productNo}" size="42"><br><br>
					<input type="text" name="productName" placeholder="상품명" required="required" th:value="${productVO.productName}" size="42"><br><br>
					<input type="text" name="price" placeholder="상품가격" required="required" th:value="${productVO.price}" size="42"><br><br>
					<input type="text" name="productCount" placeholder="상품수량" required="required" th:value="${productVO.productCount}" size="42"><br><br>
					<input type="text" name="productDetail" placeholder="상품설명" required="required" th:value="${productVO.productDetail}" size="42"><br><br>
					<input type="text" name="image" placeholder="상품이미지" readonly="readonly" th:value="${productVO.image}" size="42"><br><br>
					<input type="text" name="category" placeholder="상품카테고리" required="required" th:value="${productVO.category}" size="42"><br><br>
					<button type="reset" class="btn btn-outline-success">취소</button>&nbsp;&nbsp;
					<button type="submit" class="btn btn-outline-success">수정</button>
				</form>
			 </div>
		</div>
			 	
	</div>
</html>
